<?xml version="1.0" encoding="utf-8"?>
<Root>
	<!-- 应用程序设置 -->
	<AppConfigs>
		<Config Name="main" exit="True" />
		<Plugins>
		</Plugins>
	</AppConfigs>
	<!-- 数据库设置 -->
	<DataConfigs>
		<Config Name="tushare" token="39956a10efc09429356600eae9bf58a7519347b12364afe2b74a1873"/>
		<!-- 目录 -->
		<Config Name="local" path="data" daypath = "day" bakpath = "bak" blocktrade = "blocktrade" indicatorspath = "indicators" minutepath = "minute" predict = "predict" moneyflow = "moneyflow" temp="temp" moneyflow_ths="moneyflow_ths" moneyflow_ind_ths="moneyflow_ind_ths" ths_index="ths_index" ths_yz = "ths_yz" ths_member="ths_member" moneyflow_mkt_dc="moneyflow_mkt_dc"/>
		<config Name="THS" excludeindex="886072.TI-高股息精选,883303.TI-上证380成份股,883300.TI-沪深300样本股"/>
	</DataConfigs>
	<!-- 模块配置 -->
	<ModeulConfigs>
		<Config Name="stockmarket" moke="False" amprepare = "09:29:00" pmprepare = "12:59:00" ambegin="09:30:00" amend="11:30:00" pmbegin="13:00:00" pmend="15:00:00" />
		<Config Name="daywork" begin="17:00:00" end="23:30:00" />
	</ModeulConfigs>
</Root>